body {
   margin: 0px;
   border: 0px;
   padding: 0px;
   font-family: sans-serif;
   color: #333;
}

#map {
   height: 100%;
   width: 100%;
   position: absolute;
}

#sidebar {
   background: #181A1A;
   width: 300px;
   color: white;
   top: 0;
   left: 0;
   margin: 15px;
   padding: 15px;
   z-index: 10000;
   position: absolute;
}

.bar-container {
   display: flex;
   flex-direction: column;
   transition: 1s all;
}

.bar {
   width: 0%;
   background: blue;
   /* height: 2px; */
   border-radius: 20px;
   margin-bottom: 10px;
   transition: .3s all;
   padding: 0 5px;
   box-sizing: border-box;
   transition: 1s all;
}

.inner-bar {
   height: 3px;
}

.row {
   margin: 30px 0;
}
