:root {
   --sidebar-width: 300px;
   --sidebar-padding: 15px;
}

body {
   margin: 0px;
   border: 0px;
   padding: 0px;
   font-family: 'Roboto', sans-serif;
   color: #333;
}

#map {
   height: 100%;
   width: 100%;
   position: absolute;
}

#loading {
   height: 50px;
   /* display: inline; */
}

#sidebar {
   background: #181A1A;
   width: var(--sidebar-width);
   color: white;
   top: 0;
   left: 0;
   margin: 15px;
   padding: var(--sidebar-padding);
   z-index: 10000;
   position: absolute;
   border-radius: 3px;
   height: 900px;
}

.title-row {
   display: flex;
   align-items: center;
}

.title {
   font-weight: 500;
   font-size: 24px;

}

a {
   color: #A4CEFF;
   text-decoration: none;
}

a:hover {
   color: #A4CEFF;
   text-decoration: underline;
}

.subtitle {
   color: #C7C7C7;
   margin: 20px 0;
}

.bar-container {
   display: flex;
   flex-direction: column;
   transition: 1s all;
   position: relative;
   height: 500px;

}

.bar {
   width: 0%;
   background: blue;
   border-radius: 3px;
   transition: .7s all ease-out;
   padding: 5px 5px;
   box-sizing: border-box;
   white-space: nowrap;
}

.inner-bar {
   /* height: 3px; */

}

#neighborhood {
   color: white;
   font-weight: 500;
   font-size: 18px;
   margin: 20px 0;
}


.text {
   color: #C7C7C7;
}

.row {
   margin: 10px 0;
   position: absolute;
   transition: .6s all ease-out;
   width: calc(var(--sidebar-width) - var(--sidebar-padding) * 2);
}

#mappy {
   margin-top: 20px;
   display: block;
}

.custom .leaflet-popup-tip {
   display: none;
}
.custom .leaflet-popup-content-wrapper {
   background: #181A1A;
   color: #C7C7C7;
   padding: 0;
   border-radius: 0;
   box-shadow: none;
   font-family: 'Roboto';
   font-size: 16px;
   padding: 5px 0;
   border-radius: 3px;
   margin: 0;

}

.leaflet-fade-anim .leaflet-popup {
  transition: none;
}
